* {
    box-sizing: border-box;
}

html,
body,
#game {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: #010107;
    user-select: none;
}

#game {
    position: relative;
}

#space {
    display: block;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #010107;
}
